<!DOCTYPE html>
<html>
<head>
    <!--        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"-->
    <!--        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="-->
    <!--        crossorigin=""/>-->
    <!--        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"-->
    <!--        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="-->
    <!--        crossorigin=""></script>-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"/>
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/heatmap.js/2.0.2/heatmap.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet-heatmap@1.0.0/leaflet-heatmap.min.js"></script>
    <script src="https://unpkg.com/leaflet-geometryutil@0.13.1/leaflet.geometryutil.min.js"></script>

    <style>
        #mapid { width: 800px; height: 800px; }
    </style>
</head>
<body>
<div id="mapid"></div>

<script>
    var lat = 35.1188093910081;
    var lng = 128.96808496718;
    var zoom = 16;
    var mymap = L.map('mapid', {
        center: [lat, lng],
        zoom: zoom
    });
    L.tileLayer('http://tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(mymap);

    var pointList = [];
    var pointCnt = 10;
    var scale = 1000;

    for (var i = 0; i < pointCnt; i++) {
        pointList.push({
            lat: lat + i / scale,
            lng: lng + i / scale,
            count: i
        }, );
    }

    for (var i = 0; i < pointCnt; i++) {
        var point = pointList[i];
        L.marker({
            lat: point.lat,
            lng: point.lng
        }).addTo(mymap);
    }

    var cfg = {
        "radius": 200,
        "maxOpacity": .5,
        //"scaleRadius": true,
        "scaleRadius": false,
        "useLocalExtrema": true,
        latField: 'lat',
        lngField: 'lng',
        valueField: 'count'
    };

    var heatmapLayer = new HeatmapOverlay(cfg).addTo(mymap);

    var testData = {
        max: 10,
        data: pointList
    }
    console.log(testData);
    // heatMap 생성하기
    heatmapLayer.setData(testData);

</script>
</body>
</html>
