<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"/>
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/heatmap.js/2.0.2/heatmap.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet-heatmap@1.0.0/leaflet-heatmap.min.js"></script>
    <style>
        #mapid { width: 800px; height: 800px; }
    </style>
</head>
<body>
<div id="mapid"></div>
<script src="../fill_hex.js"></script>
<script src="../gaussian.js"></script>

<script>

    const Q = 100; // 배출량 (g/s)
    const u = 5; // 평균 풍속 (m/s)
    const sigmaY = 20; // 수평 확산 계수 (m)
    const sigmaZ = 10; // 수직 확산 계수 (m)
    const H = 100; // 배출 높이 (m)

    let startLat = 35.1188093910081;
    let startLng = 128.96808496718;
    let n = 50;
    let hexDist = 0.01;

    var map = L.map('mapid', {
        center: [startLat, startLng],
        zoom: 14,
    });

    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    let hexList = hexFill(startLat, startLng, n, hexDist);


    function calculateConcentration(Q, u, sigmaY, sigmaZ, H, x, y, z) {
        const exp = Math.exp;
        const pi = Math.PI;
        let part1 = Q / (2 * pi * sigmaY * sigmaZ * u);
        let part2 = exp(-Math.pow(y, 2) / (2 * Math.pow(sigmaY, 2)));
        let part3 = exp(-Math.pow(z - H, 2) / (2 * Math.pow(sigmaZ, 2))) + exp(-Math.pow(z + H, 2) / (2 * Math.pow(sigmaZ, 2)));

        return part1 * part2 * part3;
    }
    function generateDensityData(hexList) {
        return hexList.map(location => {
            const latitude = location[0];
            const longitude = location[1];
            const density = calculateConcentration(Q, u, sigmaY, sigmaZ, H, latitude, longitude);
            return { lat: latitude, lng: longitude, count: density };
        });
    }

    let densityData = generateDensityData(hexList);

    var cfg = {
        radius: 100,
        maxOpacity: .5,
        scaleRadius: false,
        useLocalExtrema: true,
        latField: 'lat',
        lngField: 'lng',
        valueField: 'count'
    };

    var heatmapLayer = new HeatmapOverlay(cfg).addTo(map);

    var testData = {
        max: 20,
        data: densityData
    };

    heatmapLayer.setData(testData);
</script>
</body>
</html>
